.bottom-hero {
  width: 100%;
  height: 400px;
}

.bottom-hero-img {
  background-image: url(../img/hero-footer-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .bottom-hero-img {
    height: 400px;
    background-image: url(../img/hero-footer-mobile.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .bottom-hero-img {
    height: 600px;
    background-image: url(../img/hero-footer-destkop.jpg) no-repeat;
    background-size: cover;
  }
}
