.hero .hero-img,
.bottom-hero .hero-img {
  width: 100%;
  height: 400px;
}

.bottom-hero {
  width: 100%;
  margin-bottom: 0;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/hero-footer-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(/img/hero-footer-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/hero-footer-destkop.jpg) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
  }
}
